{% extends 'base.html' %}
{% block title %}
    Regions list
{% endblock %}
{% block content %}
    <h1>Regions list</h1>
    <ul>
        {% for region in object_list %}
            <li><a href="/districts?region={{ region.id }}">{{ region.region_name }}</a></li>
        {% endfor %}
    </ul>

    <script>
        function setLang(lang) {
            const Http = new XMLHttpRequest();
            const url='/setLang/' + lang;
            Http.open("GET", url);
            Http.send();

            Http.onreadystatechange = (e) => {
                location.reload();
            }
        }
    </script>
{% endblock %}